* {
    box-sizing: border-box;
}

main {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2vw;
}

.bal, .jobb {
    border: 1px solid lightgray;
}

.sor {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.jateksor {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid lightgray;
}

.visszajelzes {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.vElem,
.elem {
    aspect-ratio: 1;
    border: 1px solid lightgray;
    
}

.szinvalaszto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    gap: 5px;
    cursor: grab;
}

.szin {
    aspect-ratio: 1;
    border: 1px solid lightgray;
    cursor: grab;
}

.szin:nth-child(1) {
    background-color: red;
}

.szin:nth-child(2) {
    background-color: green;
}

.szin:nth-child(3) {
    background-color: orange;
}

.szin:nth-child(4) {
    background-color: yellow;
}

.szin:nth-child(5) {
    background-color: blue;
}

.szin:nth-child(6) {
    background-color: purple;
}


@media screen and (max-width:500px) {
    main {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .szinvalaszto {

        grid-template-columns: repeat(3, 1fr);

    }
}